<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>[AJuDE] Recuperação de Senha</title>
</head>

<body style="font-family: Trebuchet MS, sans-serif; text-align: center;">

<table style="border-collapse: collapse; width: 85%; margin: 0 auto; ">
    <tr style="font-size: 30px;">
        <td style="background-color: #4682B4">
            <h1 style="color: #F0FFFF;">AJuDE</h1>
        </td>
    </tr>

    <tr style="font-size: 20px;">
        <td style="background-color: #F0FFFF;">
            <p th:text="${text}">Seja bem-vindo!</p>
            <p>
                Acesse o link clicando
                <a th:href="${link}">aqui</a>
                .
            </p>
        </td>
    </tr>

    <tr style="font-size: 15px; background-color: #4682B4;">
        <td>
            <p th:text="${date}">Teste</p>
            <p th:text="${location}"></p>
        </td>
    </tr>
</table>

<div>
    <p th:text="'Caso não tenha conseguido acessar acima ' + ${link}"></p>
</div>

</body>

</html>